.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/stock/nebula.jpg");
    height: 50%;

  }

.algo-step-icon{
    width: 50px;
    height: auto;
    text-align: left;    
    display: block;
    margin-bottom: 40px;
}


