body{
    position: absolute;
    top: 110px;
}

.top-bar, .top-bar ul{
    background-color: hsl(0, 0%, 100%);
    padding: 15px 70px;
    z-index: 10;
}

.top-bar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    width: 100%;
}

.top-bar ul{
    
}

.top-bar ul li{
    padding: 5px;
}

.top-bar ul li a {
    color: #3b3b3b;
    font: sans-serif;
    font-weight: 100;
}

.layout__footer{
    margin: 100px 15% 50px 15%;
}

.layout__footer p{
    font-size: 14px;
}

.layout__footer .cell{
    margin: 10px 0;
}

.layout__footer-bar{
    padding: 30px;
    background-color: #2D3643; 
}

.layout__footer-bar span{
    color: #ffffff;
}

