p{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Get rid of text selection */
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo{
    width: 113px;
}

.primary-blue{
    background-color: #75D4F9 !important;
}

.color-primary-blue{
    color:#75D4F9;
}

.primary-black{
    background-color: #1A1A1A !important;
}

.secondary-orange{
    background-color: #E86517 !important;
}

.secondary-orange--light{
    background-color: rgba(232, 101, 23, 0.8) !important;
}

.secondary-yellow{
    background-color: #FFC412 !important;
}

.color-secondary-yellow{
    color:#FFC412;
}

.primary-green{
    background-color: #4BB543;
}

.color-primary-green{
    color: #4BB543;
}

.background-light-grey{
    background-color: #F9F9F9;
}

.rounded-25{
    border-radius: 25px;
}

.rounded-5{
    border-radius: 5px;
}

.banner{
    padding: 100px 0px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-bottom-100{
    margin-bottom: 100px;
}


