.logo{
    width: 113px;
}

.primary-blue{
    background-color: #75D4F9 !important;
}

.primary-black{
    background-color: #1A1A1A !important;
}

.secondary-orange{
    background-color: #E86517 !important;
}

.secondary-orange--light{
    background-color: rgba(232, 101, 23, 0.8) !important;
}

.secondary-yellow{
    background-color: #FFC412 !important;
}

.color-secondary-yellow{
    color:#FFC412;
}

.primary-green{
    background-color: #4BB543;
}

.color-primary-green{
    color: #4BB543;
}

.background-light-grey{
    background-color: #F9F9F9;
}

.rounded-25{
    border-radius: 25px;
}

.rounded-5{
    border-radius: 5px;
}

.banner{
    padding: 100px 0px;
}


