{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/about.css">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block body %}

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center">
        <h1>Our Mission</h1>
        <p>Our mission is quite simple, we want to create certainties through the use of our high performance quantitative investment algorithm so that you can simply build your wealth. </p>
    </div>
    
</div>
\
<div class="row grid-x banner background-light-grey">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center">
        <h2>Meet the Algorithm</h2>
    <p>Every website has a story, and your visitors want to hear yours. Thiss space is a great opportunity to give a full background on who you are and what your site has to offer. Double click on the text box to start editing your content and make sure to add all the relevant details you want site visitors to know.</p>
    <p>If you’re a business, talk about how you started and share your professional journey. Explain your core values, your commitment to customers, and how you stand out from the crowd. Add a photo, gallery, or video for even more engagement.</p>
    </div>
    
</div>

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center">
        <h2>Meet the Team</h2>
    <p>Every website has a story, and your visitors want to hear yours. This space is a great opportunity to give a full background on who you are and what your site has to offer. Double click on the text box to start editing your content and make sure to add all the relevant details you want site visitors to know.</p>
    <p>If you’re a business, talk about how you started and share your professional journey. Explain your core values, your commitment to customers, and how you stand out from the crowd. Add a photo, gallery, or video for even more engagement.</p>
    </div>
    
</div>

{% endblock %}