{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/about.css">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block body %}

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3 text-center">
        <h1>What We Do</h1>
        <p>We use quantitative analysis and AI to rate different North American Stocks on a scale from 1-10. From this ongoing analysis, we've created a portfolio from which members of our community can monitor and track our 25 highest-rated stocks.</p>
        <p>We've also created a search feature for members that allows them to search over 1000 stocks (expanding all the time) to acquire insights on the rating we've assigned them. We also include their financials in the context of our ratings.</p>
        <p>We are building additional portfolios based on unique investor needs, from emerging tech to socially responsibility investing.</p>
    </div>
    
</div>

<div class="row grid-x banner background-light-grey">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3 text-center">
        <h2>Meet the Algorithm</h2>
        <p>Our quantitative algorithm utilizes mathematical and statistical analysis to determine the value of a certain financial asset. This includes a variety of data such as historical investments and stock data. Additionally our algorithm utilizes AI as it weights each pick's performance to benchmark how to improve future performance, learning from every pick.</p>
    </div>
    
</div>

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3 text-center">
        <h2>Meet the Team</h2>
        <p> Our team consists of three students at western university with financial and software engineering backgrounds.</p>
    </div>
    
</div>

{% endblock %}