{% extends "layout.html" %}

{% block cssImports %}
<!-- <link rel="stylesheet" type="text/css" href="../static/css/pages/company.css"> -->
{% endblock %}

{% block jsImports %}
<script src="../static/js/pages/company.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block title %}
    {{company.ticker}}
{% endblock %}

{% block body %}
<input id="tickerValue" type="hidden" value={{ company.ticker }}>
<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center">
        <h2>{{company.ticker}} <small>{{company.company_name}}</small></h2>
    </div>
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 text-center">
        <canvas class="margin-top-50" id="priceChart" ></canvas>
    </div>
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 text-left margin-top-100">
        <div class="grid-x">
            {% for data_point in quote_data.data %}

            <div class="cell small-12 medium-6 large-3">
                <p><b>{{data_point}}</b></p>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <p>{{quote_data.data[data_point]}}</p>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% endblock %}