{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/contact-us.css">
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="row grid-x">
    <div class="cell small-10 small-offset-1 large-8 large-offset-2 text-center margin-top-50">
        <h5><small>QUESTIONS?</small></h5>
        <h2>Let us know!</h2>
        <br>
        <hr>    
    </div>
</div>

<div class="row grid-x grid-margin-x">
    <div class="cell margin-top-50 small-10 small-offset-1 medium-5 medium-offset-2 large-2">
        <h6>OUR OFFICES</h6>
        <h6><small>London Ontario</small></h6>
    </div>
    <div class="cell margin-top-50 small-10 small-offset-1 medium-5 medium-offset-0 large-2">
        <h6>OUR OFFICE</h6>
        <h6><small>7 Summit ave,<br> ON N6H 2G5</small></h6>
    </div>
    <div class="cell margin-top-50 small-10 small-offset-1 medium-5 medium-offset-2 large-2 large-offset-0">
        <h6>WORKING HOURS</h6>
        <h6><small>9AM - 5PM, Mon to Fri</small></h6>
    </div>
    <div class="cell margin-top-50 small-10 small-offset-1 medium-5 medium-offset-0 large-2">
        <h6>CONTACT</h6>
        <h6><small><a href = "mailto: admin@allias.ca">admin@allias.ca</a></small></h6>
    </div>
</div>



{% endblock %}