{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/help.css">
{% endblock %}

{% block title %}
    Help
{% endblock %}

{% block body %}

<div class="row grid-x">
    <div class="banner help__title cell small-10 small-offset-1 large-6 large-offset-3">
        <p>We Are Her To Help</p>
        <h1 class="Text-center">Frequently Asked Questions</h1>
    </div>
    <div class="help__question cell small-10 small-offset-1 large-6 large-offset-3">
        <p class="color-secondary-yellow">Question One</p>
        <h2>What is Quantitative Investing?</h2>
        <hr>
        <p>Quantitative investing is an approach to investing that utilizes mathematical and statistical analysis to determine the value of a certain financial asset. Quantitative trading will generally use a variety of data such as historical investments and stock data which is used to create an algorithm for trading. </p>
    </div>
    <div class="help__question cell small-10 small-offset-1 large-6 large-offset-3">
        <p class="color-secondary-yellow">Question Two</p>
        <h2>Why Am I Not Seeing The Return I Desire Yet?</h2>
        <hr>
        <p>For optimal results please use the investing algorithm for a minimum of a year. While we return 60% yearly desired growth may take time from the data of your initial investment. P.S Don't worry we have always hit our yearly target.</p>
    </div>
    <div class="help__question cell small-10 small-offset-1 large-6 large-offset-3">
        <p class="color-secondary-yellow">Question Three</p>
        <h2>Why Quantitative Analysis?</h2>
        <hr>
        <ul>
            <li>Reduces the risk of cognitive errors that would otherwise be more prone to happen with a human investor</li>
            <li>Increased speed is achieved by quantitative analysis due to its ability to analyze and rank data, helping identify possible opportunities</li>
            <li>You can implement as many strategies for investing as you want due to computing power</li>
            <li>Provides the investor with more free time as the algorithm does most of the work</li>
            <li>Your investment approach can stay disciplined and consistent in any market outlook</li>
        </ul>
    </div>
</div>

{% endblock %}