{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/help.css">
{% endblock %}

{% block title %}
    Help
{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1>FAQ</h1>
    </div>
</div>

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 large-8 large-offset-2 text-center">
        <h5><small>YOUR QUESTIONS ANSWERED</small></h5>
        <h2>Frequently Asked Questions</h2>
        <br>
        <hr>
    </div>
</div>

<!-- Question 1 -->

<div class="row grid-x grid-margin-x ">
    <div class="cell small-12 small-offset-0 medium-offset-1 medium-3 large-offset-3 large-1">
        <img src="/static/img/stock/sea-water-landscape.jpg">
        <div class="show-for-small hide-for-large margin-bottom-50"></div>
    </div>
    
    <div class="cell small-10 small-offset-1 medium-offset-0 medium-7 large-5 text-left">
        <h2>Why ALIIAS?</h2>
        <p>We at ALLIAS, like most young investors, understand that the stock market can be very confusing, so we broke down the areas we ran into the most amount of issues in. We highlighted that finding and analyzing a company to investing is a hard process. So we created a data base of over 10k companies with different range of ratings and company analysis, as well we created a portfolio so if you can also track our top 25 overall highest rated stocks for consistent yearly returns.</p>
    </div>
</div>

<!-- Question 2 -->

<div class="row grid-x grid-margin-x banner">
    <div class="cell small-12 small-offset-0 medium-offset-1 medium-4 large-offset-3 large-2">
        <img src="/static/img/stock//city-beach-shorline.jpg">
        <div class="show-for-small hide-for-large margin-bottom-50"></div>
    </div>
    
    <div class="cell small-10 small-offset-1 medium-offset-0 medium-6 large-4 text-left">
        <h2>Why am I not seeing the returns I would like yet?</h2>
        <p>Return on the stock market takes time, which is why we hold each company in our portfolio for at least 12 months. While historical performance does not equal future performance, each year we have tested we have always gotten positive returns at the end of each year.</p>
    </div>
</div>

<!-- Question 3 -->

<div class="row grid-x grid-margin-x banner">
    <div class="cell small-12 small-offset-0 medium-offset-1 medium-4 large-offset-3 large-3">
        <img src="/static/img/stock/moon-and-tree.jpg">
        <div class="show-for-small hide-for-large margin-bottom-50"></div>
    </div>
    
    <div class="cell small-10 small-offset-1 medium-offset-0 medium-6 large-3 text-left">
        <h2>Why Quantitative Analysis?</h2>
        <br>
        <ul>
            <li>Reduces the risk of cognitive errors that would otherwise be more prone to happen with a human investor</li>
            <li>Increased speed is achieved by quantitative analysis due to its ability to analyze and rank data, helping identify possible opportunities</li>
            <li>You can implement as many strategies for investing as you want due to computing power</li>
            <li>Provides the investor with more free time as the algorithm does most of the work</li>
            <li>Your investment approach can stay disciplined and consistent in any market outlook</li>
        </ul>
    </div>
</div>

{% endblock %}