{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/index.css">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="text-left">Stop dreaming, start doing.</h1>
        <br>
        <a class="button button-white large" href="/search">Learn more</a>
    </div>
</div>

<div class="row grid-x banner ">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3 text-center">
        <h4 class="align-center"><small>WHAT WE BELIEVE IN</small></h4>
        <h2>At ALIIAS Investments we specialize in automated investment advice. We understand not knowing what is happening with your money can be scary. So we explain each step of the process. We believe that investing doesn't have to be hard to understand.</h2>
    </div>
    <div class="cell small-10 small-offset-1 large-8 large-offset-2 text-center margin-top-50">
        <hr>
    </div>
</div>


<div class="row grid-x ">
    <div class="cell small-12 small-offset-0 large-offset-1 large-5 margin-bottom-50 hide-for-large show-for-small">
        <img src="/static/img/stock/mountain-city-lights-landscape.jpg">
    </div>
    <div class="cell small-10 small-offset-1 large-2 large-offset-2 text-left">
        <h5><small>HOW ALIIAS WORKS</small></h5>
        <h3>Our Algorithm</h3>
        <p>In essence we analyze a database of 15k American stocks, through weights such as PE ratio (price to earnings) and market cap (value of a companies total outstanding shares). As we simulate hundreds of outcomes over the year on stocks picks the algorithm learns for each outcome every step of the way. Letting the algorithm better understanding the path of sucesss for your money.</p>
        <br>
        <a class="button button-black" href="/about">Learn more</a>
    </div>
    <div class="cell small-12 small-offset-0 large-offset-1 large-5 show-for-large">
        <img src="/static/img/stock/mountain-city-lights-landscape.jpg">
    </div>
</div>

<div class="margin-top-100 show-for-large"></div>

<div class="row grid-x">
    <div class="cell small-12 small-offset-0 large-offset-2 large-5">
        <img class="margin-top-50" src="/static/img/stock/mountain-space-landscape.jpg">
        <div class="show-for-small hide-for-large margin-bottom-50"></div>
    </div>
    
    <div class="cell small-10 small-offset-1 large-2 large-offset-1 text-left">
        <h5><small>BACKGROUND</small></h5>
        <h3>So what is a quantitative algorithm?</h3>
        <p>Quantitative investing is an approach that uses math and statistics to help create models of data which helps train our algorithm. For example the algorithm will look at a companies financials versus another in the market to judge if it is a good idea to buy the company, based on each positive or negative outcome that occurs. Then the algorithm learns and improves its outcome each time. Simply put it takes thousands of data points, picks stocks and improves it outcomes.</p>
        <br>
        <a class="button button-black" href="/about">Learn more</a>
    </div>
</div>

<div class="row grid-x margin-top-100">
    <div class="cell small-10 small-offset-1 large-8 large-offset-2 text-center">
        <h5><small>OUR PLANS</small></h5>
        <h3>Get trusted information cheaper than your music subscription</h3>
        <br>
        <br>
        <h1>$9 a month, and achieve your goals</h1>
    </div>
    
</div>



<!-- 
<div class="hero-image">
    <div class="hero-text">
        <h1 class="text_left">Stop dreaming, start doing.</h1>
        <a class="button button-white large" href="/search">Learn more</a>
    </div>
</div>

<div class="row">
    <div class="index__mid-banner">
        <h2 class="text-center">A.I Powered Investment Solutions</h2>
    </div>
</div>

<div class="row">
    <div class="grid-x grid-margin-x">
        <div class="cell small-10 small-offset-1 large-2 large-offset-3">
            <div class="index__header-box card ">
                <h2>Investing <br>Portfolio</h2>
            </div>
            <p class="text-center">Track our top 25 highest rated stocks based on the power of Artificial Intelligence
                and quantitative analysis.</p>
        </div>
        <div class=" cell small-10 small-offset-1 large-2 large-offset-0 ">
            <div class="index__header-box--dark card">
                <h2>Stock <br>Analysis</h2>
            </div>
            <p class="text-center">Have access to stock rating based on the power of Artificial Intelligence and
                quantitative analysis.</p>
        </div>
        <div class=" cell small-10 small-offset-1 large-2 large-offset-0 ">
            <div class="index__header-box card">
                <h2>Stock <br>Data</h2>
            </div>
            <p class="text-center">View company financials and financials in the context of our ratings. </p>
        </div>

    </div>
</div>

<br>
<br> -->

{% endblock %}