{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/index.css">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
      <h3>From in-depth stock analysis to high performance investment algorithms, we strive to create certainties for our customers.</h3>
      <a class="button large expanded primary-blue rounded-25" href="/search">Search Database</a>
    </div>
  </div>

<div class="row">
    <div class="index__mid-banner">
        <h2 class="text-center">A.I Powered Investment Solutions</h2>
    </div>
</div>

<div class="row">
    <div class="grid-x grid-margin-x">
        <div class="cell small-10 small-offset-1 large-2 large-offset-3">
            <div class="index__header-box card " >
                <h2>Investing <br>Portfolio</h2>
            </div>
            <p class="text-center">Track our top 25 highest rated stocks based on the power of Artificial Intelligence and quantitative analysis.</p>
        </div>
        <div class=" cell small-10 small-offset-1 large-2 large-offset-0 ">
            <div class="index__header-box--dark card" >
                <h2>Stock <br>Analysis</h2>
            </div>
            <p class="text-center">Have access to stock rating based on the power of Artificial Intelligence and quantitative analysis.</p>
        </div>
        <div class=" cell small-10 small-offset-1 large-2 large-offset-0 ">
            <div class="index__header-box card" >
                <h2>Stock <br>Data</h2>
            </div>
            <p class="text-center">View company financials and financials in the context of our ratings. </p>
        </div>

    </div>
</div>


<!-- <div class="row">
    <div class="grid-x index__acount-banner">
        <div class="cell small-12 large-4 large-offset-0">
            <div class="index__account-box--light card " >
                <h3>Basic Account</h3>
                <ul>
                    <li>Get access to 10 free stock searches</li>
                    <li>Be informed with our top stock picks email list</li>
                    <li>Get access to free stock insights</li>
                </ul>
                <a class="button small secondary-yellow expanded rounded-25" href="/register">Register</a>
            </div>
        </div>
        <div class=" cell small-12 large-4 large-offset-0">
            <div class="index__account-box card" >
                <h3>Data Account</h3>
                <ul>
                    <li>Get unlimited access to over10k stock searches</li>
                    <li>Make good choices with stock analysis on over 10k stocks</li>
                    <li>Be in the know with stock data on over 10k stocks</li>
                </ul>
                <a class="button small secondary-yellow expanded rounded-25" href="/register">Register</a>
            </div>
        </div>
        <div class=" cell small-12 large-4 large-offset-0">
            <div class="index__account-box--dark card" >
                <h3>Full Package</h3>
                <ul>
                    <li>Get access to 10 free stock searches</li>
                    <li>Be informed with our top stock picks email list</li>
                    <li>Get access to free stock insights</li>
                </ul>
                <a class="button small secondary-yellow expanded rounded-25" href="/register">Register</a>
            </div>
            </div>
    </div>
</div> -->
<br>
<br>

{% endblock %}