<!DOCTYPE html>

<html lang="en">

    <head>

        <!--  Meta Data -->
        <meta charset="UTF-8"> <!--Don't know what exactly to set this too-->
        
        <!-- CSS imports -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../static/css/global/global.css">
        <link rel="stylesheet" type="text/css" href="../static/css/pages/layout.css">

        <link rel="icon" type="image/png" href="../static/img/favicons/favicon-32.png"/>

        {% block cssImports %}

        {% endblock %}
        <!-- Javascript imports -->
        <script src="jquery-3.5.1.min.js"></script>
        
        <title>ALIIAS Investments - {% block title %}{% endblock %}</title>

    </head>
    <body>
        <nav id="navbar">
              
              <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                      <li><img class="logo" src="../static/img/logo/logo-1.jpg" alt="ALLIAS"><li>
                    </ul>
                </div>
                <div class="top-bar-right">
                  <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Porfolio</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Register</a></li>
                    <li><input type="search" placeholder="AAPL..."></li>
                    <li><button type="button" class="button secondary hollow">Search</button></li>
                  </ul>
                </div>
              </div>

        </nav>

        {% block body %}
        {% endblock %}

        <div class="row">
          <div class="layout__footer grid-x">
            <div class="cell small-12">
              <img class="logo" src="../static/img/logo/logo-1.jpg" alt="ALLIAS">
            </div>
            <div class="cell small-12 medium-12 large-3 grid-x">
              <div class="cell small-12">
                <h6>7 Summit Ave</h6>
                <h6>London, ON N6H 2G5</h6>
              </div>
              <div class="cell small-12">
                <h5>Questions?</h5>
                <h6>Send us a Message</h6>
              </div>
              <div class="cell small-12">
                <h5><a href="tel:+6479657572">647-965-7572</a></h5>
                <h5><a href="mailto:admin@aliias.ca">admin@aliias.ca</a></h5>
              </div>

            </div>
            <div class="cell small-12 medium-12 large-9">
              <h4>About</h4>
              <p>We use quantitative analysis and AI to rate different North American Stocks on a scale from 1-10. From this ongoing analysis, we've created a portfolio from which members of our community can monitor and track our 25 highest-rated stocks.</p>
              <p>We've also created a search feature for members that allows them to search over 1000 stocks  (expanding all the time) to acquire insights on the rating we've assigned them. We also include their financials in the context of our ratings.</p>
              <p>We are building additional portfolios based on unique investor needs, e.g emerging tech, social responsibility, etc.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="layout__footer-bar text-center">
            <span>© 2021 ALIIAS INVESTMENTS</span>
          </div>
        </div>
    </body>
    
</html>