<!DOCTYPE html>

<html lang="en">

<head>

  <!--  Meta Data -->
  <meta charset="UTF-8">
  <!--Don't know what exactly to set this too-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS imports -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
    integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/global/global.css">
  <link rel="stylesheet" type="text/css" href="../static/css/global/form-validation.css">
  <link rel="stylesheet" type="text/css" href="../static/css/pages/layout.css">

  <!-- Icon imports -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" type="image/png" href="../static/img/favicons/favicon-32.png" />

  <!-- Font imports -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

  {% block cssImports %}{% endblock %}

  <!-- Javascript imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/global/form-validation.js"></script>
  <script src="../static/js/pages/layout.js"></script>
  <script src="../static/js/global/global.js"></script>


  {% block jsImports %}{% endblock %}

  <title>ALIIAS Investments - {% block title %}{% endblock %}</title>

</head>

<body>
  <nav id="navbar">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="/"><img class="logo" src="../static/img/logo/logo-1.jpg" alt="ALLIAS"></a><li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><small><a href="/">Home</a></small></li>
          <li><small><a href="/about">About</a></small></li>
          <li><small><a href="/portfolio">Portfolio</a></small></li>
          <li><small><a href="/help">FAQ</a></small></li>
          <li><small><a href="/contact-us">Contact Us</a></small></li>
          <li><input autocomplete="off" id="nav-search-input" type="text" name="query" placeholder="AAPL..."></input></li>
          <li><button id="nav-search-button" class="button button-white nav-search-button">Search Stocks</button></li>
        </ul>
      </div>
      <div class="top-bar-right-mobile top-bar-right">
        <ul class="menu">
          <li><span id="nav-dropdown-button" class="material-icons nav-dropdown-button">segment</span></li>
          <li><span id="nav-slideup-button" class="material-icons nav-dropdown-button">segment</span></li>
        </ul>
      </div>
    </div>
    <div id="nav-dropdown" class="nav-dropdown">
      <ul class="menu vertical align-left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/help">FAQ</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/search">Search</a></li>
      </ul>
    </div>


  </nav>

  {% block body %}
  {% endblock %}

  <div class="row grid-x margin-top-100">
    <div class="cell small-10 small-offset-1 large-8 large-offset-2 text-center">
        <h5><small>ALIIAS Investments</small></h5>
        <br>
    </div>
  </div>
</body>


</html>