{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/portfolio.css">
{% endblock %}

{% block jsImports %}
<script src="../static/js/pages/portfolio.js"></script>
{% endblock %}

{% block title %}
    Portfolios
{% endblock %}

{% block body %}

<div id="portfolio" class="row grid-x">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center portfolio__title">
        <h1>Our Portfolio</h1>
        <p>Through the use of quantitative analysis and artificial intelligence we have created ratings for individual securities from North\ American markets a scale from 1-10. Our portfolio is actively managed and seeks long term growth though investing in our top 25 highest rated securities.</p>
    </div>
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center portfolio__view">
        <h2>Version</h2>
        <span class="material-icons" id="left-version-arrow">chevron_left</span><span id="portfolio-version" class="portfolio-version"></span><span class="material-icons" id="right-version-arrow">chevron_right</span>
        <p>date created: <span id="portfolio-creation-date"></span></p>
    </div>
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-9 large-offset-1 portfolio__performance-table margin-top-50 margin-bottom-100">
        <h2>ALIIAS Performance</h2>
        <p>As of <span id="portfolio-performance-date"></span></p>
        <div class="grid-x">
            <div class="cell small-6 medium-3">
                <h3 >3 Month</h3>
                <p><span id="portfolio-performance-3m"></span> %</p>
            </div>
            <div class="cell small-6 medium-3">
                <h3>6 Month</h3>
                <p><span id="portfolio-performance-6m"></span> %</p>
            </div>
            <div class="cell small-6 medium-3 ">
                <h3>1 Year</h3>
                <p><span id="portfolio-performance-1y"></span> %</p>
            </div>
            <div class="cell small-6 medium-3 ">
                <h3>Portfolio Creation</h3>
                <p><span id="portfolio-performance-creation"></span> %</p>
            </div>
        </div>
        <img id="loading-portfolio-performance" class="three-dot-loading" src="../static/img/loading/loading.gif">
        <hr>
    </div>
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center portfolio__performance-chart">

    </div>
    <!-- <div class="cell small-10 small-offset-1 medium-6 medium-offset-3 portfolio__performance-table margin-bottom-100">
        <h2><span class="company-ticker"></span> <small><span class="company-full-name"></span></small></h2>
        <p>Aliias rated <span class="company-rating">11.1</span> on <span class="company-rating-date">2021-07-08</span>.</p>

        <div class="grid-x">
            <div class="cell large-2">
                <h4>Price</h4>
                <p><span class="company-price"></span></p>
            </div>

            <div class="cell large-2 ">
                <h4>3 Month</h4>
                <p><span class="company-performance-3m"></span></p>
            </div>
            <div class="cell large-2">
                <h4>6 Month</h4>
                <p><span class="company-performance-6m"></span></p>
            </div>
            <div class="cell large-2">
                <h4>1 Year</h4>
                <p><span class="company-performance-1y"></span></p>
            </div>
            <div class="cell large-2">
                <h4>3 Year</h4>
                <p><span class="company-performance-3y"></span></p>
            </div>
        </div>
        <br>
        <p>As of <span class="company-performance-date"></span></p>
        <hr>
    </div> -->
</div>


{% endblock %}