{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/privacy-policy.css">
{% endblock %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block body %}

<style>
    p{
        margin-bottom: 30px;
    }
    h2{
        margin-top: 60px;
    }

</style>

<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 large-6 large-offset-3 text-left">
        <h1>Data Privacy Policy</h1>
        <p>This policy explains the information we process, collect, and share personal user information to support ALIIAS Investments. ALIIAS Investments works diligently and responsibly to protect your private information. By using the Service, You consent to the collection and use of your personal information and any related information in the manner and for the purpose described in this Privacy Policy. ALIIAS Investments’ systems are not currently configured to handle 'do not track' requests.</p>
        <hr>
        <h3>Contact Us</h3>
        <p>For more info and any inquiries, please contact us at admin@aliias.com.</p>
        <h3>What information do we collect?</h3>
        <p>ALIIAS Investments collects and processes information in order to better understand our consumer base and it’s needs. This may include personal information provided by the user.</p>
        <u>Account data</u>
        <p>ALIIAS Investments collects provided user data to facilitate the creation, maintain, and provide services to an account. This data is limited to a user’s account name, associated email, username and password.</p>
        <u>Web analytics</u>
        <p>ALIIAS Investments may use a third party web trend analytics service for the purpose of collecting metadata on an anonymous basis. Information gathered may include cookies and visitor information related to behavior during access to services provided by ALIIAS Investments. For further information about Google Analytics, and for links to Google’s Privacy Policy and an opt-out tool for Google Analytics, go to <a href="http://www.google.com/intl/en/analytics/privacyoverview.html">Googles Privacy Overview</a>.</p>
        <h3>How do we use this information?</h3>
        <p>We collect and access the information mentioned above to manage and improve our services provided to you in these ways:</p>
        <u>Personalize and improve our services</u>
        <p>Data collected may be used for administrative purposes including the identification of crashes and functionality problems.</p>
        <u>Maximize safety and security of users</u>
        <p>ALIIAS Investments collects data in order to verify creation of accounts, prevent spam and harmful conduct, and to promote overall safety and security when using the services provided.</p>
        <u>Communicate with users</u>
        <p>Data collected allows ALIIAS Investments to communicate important information with users, including notifications related to security, terms of service changes, and policy changes. This data also allows ALIIAS Investments to respond to users when contacted.</p>
        <h3>How is this information shared?</h3>
        <p><i>The information previously listed is not shared with any outside parties.</i></p>
        <h3>How is this information protected and what security do we use?</h3>
        <p>ALIIAS is projected with SSL encryption, which securely transfers all data sent between the client and the server. This provides strong security for data transfer to and from our website.</p>
        <h3>How can I manage or delete personal information about me?</h3>
        <p>All users have the ability to access, amend, and delete any provided info through their profile settings.</p>
        <p>Data provided by the user is stored until a user deletes their account, or the information is no longer necessary for ALIIAS Investments to provide services to the user. The extent to which this information is necessary depends on the use of the data in question and varies depending on its nature.</p>
        <p>Upon deletion of your account all posts originating from the account will be deleted. To delete your account at any time access ALIIAS Investments’s profile settings.</p>
        <h3>User Responsibilities</h3>
        <p>To protect personal user information, ALIIAS Investments highly suggests never sharing your password, only accessing ALIIAS Investments through secure networks, maintaining updated security and virus protection software, and in the event of a suspected account breach, or a privacy concern arises immediately changing your password and contacting ALIIAS Investments. You are responsible for making sure all account information is updated and correct.</p>
        <h3>How will we notify you of changes to our policy?</h3>
        <p>We may revise this policy from time to time. The most current version of the policy will be listed at www.aliias.ca. We will notify you of any changes through a notification to your account. By continuing to access our services after these changes become effective, you agree to be bound by the revised terms.</p>
    </div>
</div>

{% endblock %}