{% extends "layout.html" %}

{% block cssImports %}
<link rel="stylesheet" type="text/css" href="../static/css/pages/search.css">
{% endblock %}

{% block jsImports %}
<script src="../static/js/pages/search.js"></script>
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block body %}
<div class="row grid-x banner">
    <div class="cell small-10 small-offset-1 medium-8 medium-offset-2 large-6 large-offset-3 text-center">
        <h2>Search</h2>
        <p>Browse our database and get information on over 3600 companies.</p>
        <i>Type in any company name or ticker to find results</i>
        <hr>
        <br>
        <div class="grid-x">
            <div class="cell small-10">
                <input id="query-input" placeholder="Netflix, NFLX " name="query" class="large-search-bar"
                    type="search">
            </div>
            <div class="cell small-1">
                <a id="query-icon" class="search-icon material-icons color-primary-blue">search</a>
            </div>

            <div id="loading-message" class="text-center cell small-12">
                <img src="../static/img/loading/loading-3.gif">
            </div>

            <div id="no-results-message" class="text-center cell small-12">
                <h4><small>Hmm...</small></h4>
                <h6>It seems like we don't have any companies that match your search.</h6>
            </div>

            <div id="search-results" class="search-results text-left cell small-12">

            </div>



            <div id="search-results" class="search-results text-left cell small-12">

            </div>
        </div>
    </div>

</div>

{% endblock %}